.customTable {
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
}

.customTable th, .customTable td {
    padding: 0.5rem;
    text-align: left;
}

.customTable th {
    background-color: rgba(58, 39, 233, 0.774);
    color: #ffffff;
}

.customTable tbody tr:nth-child(even) {
    background-color: rgba(58, 39, 233, 0.16);
}

#tableTitle {
    margin-bottom: 1rem;
    font-size: 1.5rem;
    text-align: center;
}