.form-component form {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: 0 auto;
    padding: 60px;
    border: 1px solid #000;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.form-component div {
    margin-bottom: 10px;
}

.form-component label {
    margin-right: 10px;
    display: flex;
    align-items: center;
}

.form-component input[type="checkbox"] {
    margin-right: 5px;
    vertical-align: middle;
    appearance: none;
    width: 16px;
    height: 16px;
    border: 2px solid #000;
    border-radius: 4px;
    cursor: pointer;
    outline: none;
    position: relative;
}

.form-component input[type="checkbox"]:checked::before {
    content: 'X';
    display: block;
    position: absolute;
    top: 0px;
    left: 2px;
    font-size: 17px;
    color: #000;
}